<h1>Bonjour quel est ta question ?</h1>
<p>tu seras sympa de poser une question simple !</p>


<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What questions?">
  <input type="submit">
</form>
